.booksinfo {
  margin: 0 auto;
  max-width: fit-content;
  padding-left: initial;
  font-size: 16px;
  line-height: 1.6;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 100%;
  max-width: 1000px;
  overflow-x: auto;
  display: block;
}

th {
  background-color: #080808;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
